          <div class="row">

            <div class="col-md-12">

              <div class="card">

                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Štamparije</h4>
                  <p class="card-category"> Lista svih registrovanih štamparija</p>
                  <button type="button" class="btn btn-info pull-right" onclick="LETAK.PrintPress().list( '#table_body', '#table_row')">Refresh</button>
                </div>

                <div class="card-body">

                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          UUID
                        </th>
                      </thead>
                      <tbody id="table_body">
                        <tr>
                          <td>
                            n/a
                          </td>
                          <td>
                            n/a
                          </td>
                          <td class="text-primary">
                            n/a
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div> <!--  CARD_BODY -->

              </div> <!-- CARD -->

            </div> <!-- COL-MD-12 -->

          </div> <!-- ROW -->

<!-- HTML FRAGMENTS -->
<div style="display: none;">
<table><tbody id="table_row">
                        <tr>
                          <td>
                            {id}
                          </td>
                          <td>
                            {name}
                          </td>
                          <td class="text-primary">
                            {uuid}
                          </td>
                        </tr>
</tbody></table>
</div>

